* {
  padding: 0;
  margin: 0;
}

 
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

body {
  height: 100%;
  width: 100%;
  background-color: #161717;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  

}

.navbar {

  padding-bottom: 1rem;
  padding-top:1rem;

}

.navbar.scrolled {
  background-color: #161717e7;
  border-bottom: none;
  transition: 0.2s all ease-in-out;
}

.nav-link,
.btn {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;

}
.navbar-nav{
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  margin-top: 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: -1px;
  background-color: #FFF;
  cursor: pointer;
  transition: all 0.1s ease;
}

.nav-item i {
  font-size: 2rem;
  padding: .5rem;
  background-image: linear-gradient(to bottom, #00DAE0, #007ED0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: .5rem;

}

.icons-nav {
  display: flex;
  flex-direction: row;
}

.nav-link:hover {
  background-image: linear-gradient(to bottom, #00DAE0, #007ED0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn {
  background: #007ED0;
  border-radius: 15px;
  padding: .6rem 2rem;
  height: 3rem;
  text-align: center;
  margin-left: 1rem;
  box-shadow: 0 0 2em #007ED0;
  transition: .2s all ease-in-out;
}

.btn:hover {
  color: white;
  transform: scale(1.1);
  box-shadow: 1px 2px 6px #007ED0;
}

.navbar-brand img {
  width: 80px;

}

.fa-solid {
  color:#444444;
  font-size: 1.4rem;

}


.page-footer {
  background-color: #161717;
  color: white;
  padding: 4rem 0 1rem 0 !important;
}

.footer-item {
  margin-bottom: 30px;

}

.list-unstyled i {
  font-size: 2rem;
}

.footer-item li a:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #00DAE0, #007ED0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-copyright a:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #00DAE0, #007ED0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.textFooter {
  font-size: 10px;
  line-height: 15px;
  text-align: left;

}

footer a {
  color: white;
}

.imgSeguro {
  display: flex;
  justify-content: center;
}

.zap-fixed {
  position: fixed;
  bottom: 40px;
  right: 3%;
  z-index: 1101;
  font-size: 3.281rem;
}

.user-fixed{
  position: fixed;
  bottom: 40px;
  left: 3%;
  z-index: 1101;
  font-size: 3rem;
 width: 80px;
 height: 80px;
 background: -webkit-linear-gradient(#00DAE0, #007ED0);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.user-fixed i{
color:#fff
}

#visits{
  font-size: 14px;
  margin-top:4px;

  color:#fff;
}
.user-fixed:hover{
  text-decoration: none;
}

.discord-fixed{
  position: fixed;
  bottom: 120px;
  cursor: pointer;
  right: 3%;
  z-index: 1101;
  font-size: 3.281rem;
}

.whats {
  cursor: pointer;
}

.insta {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.zap-fixed i {
  color: rgb(251, 92, 0);
  background: -webkit-linear-gradient(#00DAE0, #007ED0);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}