/* texto do meio da tela no header */
.section-header {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
}

.section-header-video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

.section-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}

.section-header .container.um {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10rem;
}

.title p {
  padding: 0 7rem 0 0;
}

.section-header .btn-header .btn {
  margin: 0 !important;
}

.list-games {
  position: relative;
  margin-top: -151px;
  height: 150px;
  background: #161717c2;

  z-index: 10;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.container.dois {
  height: 100%;
}

.container.dois .row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.svg-container {
  width: 65px;
}

.svg-container svg {
  position: relative;
  z-index: 9999;
  fill: white;
}

.item-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.list-games .col-2 {
  cursor: pointer;
  height: 100%;
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.list-games .col-2 .item-content:hover:not(.active) {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.gm.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(138, 204, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  opacity: 1;

  transition: opacity 0.3s;
}

.textoColorido {
  color: #007ed0;
  font-weight: bold;
}

.subtitle h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* animação do mouse scroll */

.mouse_scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.m_scroll_arrows {
  display: flex;

  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 0;

  width: 16px;
  height: 16px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  border: 2px solid white;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* divider */

.bottom {
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  border-top: none;
}

.bottom img {
  max-width: 100%;
}

.section-boost {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
}

.section-boost p {
  font-size: 13px;
  font-weight: inherit;
}

.space {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: self-start;
  height: 100%;
}

.card-game .btn {
  margin: 0;
}

.section-boost h1 {
  font-weight: bold;
}

.service-description h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 100%;
  background: #007ed0;
  border-radius: 0px 0px 4px 4px;
}

.service-description h4::after {
  content: "";
  position: absolute;
  left: 45px;
  top: 3px;
  height: 6px;
  width: 30px;
  border-radius: 0 0 4px 4px;
  background: #007ed0;
  z-index: 1;
}

.title h2 {
  font-weight: bold;
}

.title-boost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line {
  width: 2px;
  background-image: linear-gradient(to bottom, #00dae0, #007ed0);
  height: 100px;
}

.line.dois {
  width: 2px;
  background-image: linear-gradient(to bottom, #00dae0, #007ed0);
  height: 100px;
  margin-right: 2rem;
  margin-top: 3rem;
}

.divider-line {
  margin: 10px auto;
  width: 104px;
  height: 2px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #00dae0, #007ed0);
}

.title-boost h1 {
  padding-top: 1rem;
  font-size: 2rem;
}

.title-boost h1::after {
  border-bottom: 2px solid black;
}

.section-boost .container.img-fluid {
  width: auto;
  height: 30rem;
  /* padding-bottom: 216px; */
  background: rgba(0, 0, 0, 0)
    url(../img/backgrounds/storm_dragon_lee_sin___render__league_of_legends__by_lol_overlay_de5779k.png)
    no-repeat scroll center bottom / 800px 500px;

  padding-bottom: 216px;
}

.content-area-rd {
  width: 100%;
  height: auto;
  background: url(../img/backgrounds/forma-rd.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
}

.content-area-rd .col-lg-5 {
  text-align: center;
}
.last-col-rd {
  margin-bottom: 2rem;
}

/* .content-area-rd .img-back {
   width: 100%;
   height: 30rem;

   /* padding-bottom: 216px; */
/* background: url(../img/backgrounds/gwen.png  ) no-repeat scroll center bottom / 800px 500px; */

/* padding-bottom: 216px; */
/* }   */

.titulo-rd .divider-line {
  margin: 10px 0 20px 0;
}
.titulo-rd h3 {
  color: #fff;
  font-weight: bold;
  text-align: start;
}
.content-area-rd .row {
  justify-content: space-between;
}
.content-area-rd img {
  margin: 1rem;
}

.texto-rd p {
  color: #fff;
  margin: 1rem 0;
  text-align: start;
}

.texto-rd p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #07b9df transparent;
  margin-left: -28px;
  margin-top: 9px;
  transform: rotate(90deg);
}

.detalhes::after {
  content: "";
  position: absolute;

  top: 0;
  height: 5px;
  width: 50%;
  background: #07b9df;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 0 50px 10px #07b9df;
}

.detalhes-elo::after {
  display: none;
}

.section-boost .row {
  padding-top: 3rem;
}

.section-boost .row.dois {
  padding-top: 5rem;
}

.section-boost .col-lg-6.um {
  display: flex;
  justify-content: right;
  padding-right: 9rem;
}

.section-boost .col-lg-6.dois {
  padding-left: 5rem;
}

.section-boost .col-lg-6.tres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 14rem;
  padding-left: 5rem;
}

.section-boost .col-lg-6.quatro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 17rem;
}

.list-card-games {
  margin-top: -55px;
  position: relative;

  z-index: 20;
  width: 100%;
}

.list-card-games .container .row {
  display: none;
}

.list-card-games .container .row.active {
  display: flex;
}

.card-game {
  flex-grow: 1;

  flex-basis: 1px;

  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #ffffff;
  color: #444444;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgb(15 15 15 / 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-boost.um {
  max-width: 15rem;
  height: 100%;

  text-align: left;
  margin-left: 5rem;
}

.body-boost.dois {
  max-width: 22rem;
  height: 100%;

  text-align: left;
  margin-left: 7rem;
}

.body-boost.tres {
  max-width: 17rem;
  height: 100%;
  text-align: left;
}

.body-boost.quatro {
  max-width: 17rem;
  height: 100%;
  text-align: left;
}

.body-boost.um p {
  text-align: left;
}

.icone-boost img {
  width: 34px;
  height: 34px;
}

.section-cards {
  width: 100%;
  height: auto;
  background: url(../img/backgrounds/Background-all-skins.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.detalhes {
  background: #fff;
  color: #444444;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.detalhes i {
  color: #007ed0;
  font-size: 45px;
}

.card-tpb .row {
  text-align: left;
  padding-top: 1rem;
}

.card-tpb h4 {
  font-weight: bold;
}

.section-cards::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#0c0e10, #000000d5);

  z-index: -1;
}

.body-card {
  display: flex;
  flex-direction: row;
}

.body-card.dois {
  display: flex;
  flex-direction: row-reverse;
}

.title-body-card {
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  text-align: start;
}

.title-body-card.dois {
  display: flex;
  padding-left: 0;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  text-align: end;
}

.title-cards {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-cards h1 {
  padding-top: 1rem;
  font-size: 2rem;
}

.img-card img {
  max-width: 280px;
}

.btn-card {
  border: 2px solid #007ed0;
  border-radius: 7px;
  padding: 0.6rem 1.5rem;
  color: white;
  height: 3rem;
  text-align: center;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-card:hover {
  color: white;
  text-decoration: none;
  background: linear-gradient(to bottom, #00dae0, #007ed0);
}

.btn-card.dois {
  margin-left: 3rem;
}

.ab {
  display: none;
}

.fa-bars::before,
.fa-navicon::before {
  color: white;
}

.section-aval {
  background: url(../img/divider/Group.png) no-repeat scroll center bottom /
    850px 728px;
  width: 100%;
  color: #fff;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-aval .col-lg-4 {
  text-align: center;
}

.section-aval .col-lg-4 img {
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.section-aval .col-lg-4 img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.img-aval {
  height: 500px;
}

.support-button {
  color: rgb(255, 255, 255);
}

.section-aval .col-lg-6 {
  padding-bottom: 3rem;
}

.title-aval {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-aval h1 {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.faq_area {
  position: relative;
  color: white;
}

.section_heading .title-aval {
  align-items: start;
}

.section_heading .title-aval .divider-line {
  margin: 0;
}

.corpoFaq {
  position: absolute;
  min-width: 100%;
  min-height: 86rem;
  height: auto;
  z-index: -1;
}

.corpoFaq::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 0;
}

.faq-accordian {
  position: relative;
  z-index: 1;
}

.faq-accordian .card {
  position: relative;
  z-index: 1;

  margin-bottom: 1.5rem;
}

.faq-accordian .card:last-child {
  margin-bottom: 0;
}

.faq-accordian .card .card-header {
  background: #fff;
  padding: 0;
}

.card.border-0.wow.fadeInUp {
  border-radius: 10px;
}

.insta a {
  color: #007ed0;
}

.faq-accordian .card .card-header:hover {
  background-color: rgba(37, 37, 37, 0.1);
}

.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
  color: #000;
}

.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}

.grid-area3 img {
  width: 70%;
}

.content-area2,
.content-area3 {
  padding: 3rem 0 0 0;
  position: relative;
  z-index: 1;
  color: white;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.d-sm-block {
  font-size: 15px;
}

.service-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-thumb img {
  overflow: hidden;

  max-width: 450px;
}

.section-heading .row {
  padding-top: 2rem;
}

.cabecalho-pedido-details {
  font-size: 20px;
  font-weight: bold;
}

.icon-pedido-details svg {
  fill: #007ed0;
}

hr {
  width: 100%;
  height: 2px;
  background-color: #444444;
}

.modal-dialog {
  max-width: 960px;
  width: auto;
}

.modal {
  top: 50%;
  left: 50%;
  height: auto;

  transform: translate(-50%, -50%);
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}
