/* 
------------------------responsividade------------------------- */
@media(max-width:1199px) and (min-width:992px) {
  #coluna-textos {
    padding-left: 8rem;

  }

}

@media(max-width:1024px) {

  #walpaper {
    width: 100%;
    height: 100%;
    background: url(../img/background/braum_bgk_still.jpg);
    background-size: cover;
    background-position: calc(80% - 50px);
    position: relative;
    z-index: 0;
  }

  .bottom {
    z-index: 0;
  }

  .arrow {
    z-index: 2;
  }

  #walpaper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }

  .video-full-bg {
    visibility: hidden;
  }

  .video-full-bg__clip {
    visibility: hidden;
  }

}

@media only screen and (max-width:1024px) and (min-width:630px) {


  #walpaper {
    width: 100%;
    height: 100%;
    background: url(../img/background/braum_bgk_still.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(80%);

  }
}

@media (max-width:991px) {


  #img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-direction: column;
  }


   
.Titulo-Contratar{
display: flex;
justify-content: center;
}
  #linha-contratar {
    display: flex;
    flex-direction: column-reverse;
  }

  #coluna-textos {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #coluna-textos p {
    text-align: center;
  }

  #Cards {

    text-align: center;
    margin-top: 1rem;
  }

  .Subtitulo {

    display: flex;
    justify-content: center;
    text-align: center;
  }

  .navbar-brand {
    background: url(../img/logo/logoCelular.png);
    background-size: cover;
    background-position: top;
    width: 80px;
    height: 80px;
    padding-top: 0 !important;
  }

  .nav-item .nav-link.btn {
    margin-left: 0;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  .btn {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .styled-menu::before {
    visibility: hidden;
  }

  .display-1 {
    font-size: 4.5rem;
  }


}

@media(max-width:767px) {
  
}

@media (max-width: 634px) {
  .display-1 {
    font-size: 3rem;
  }

  .arrow {
    top: 80%;
    left: 50%;
  }


}

@media (max-width:575px){
 
}

@media (max-width:489px) {
  .img-braum {
    width:300px;
    height:500px;
    }
 
}

@media(max-width:437px) {
  .display-1 {
    font-size: 2rem;
  }

  .banner-subtitle {
    font-size: 1rem;

  }
 


}

@media(max-width:360px) {
  .dropdown small {
    font-size: 0.6rem;
  }


}


@font-face {
  font-family: 'frozen';
  src: url("../font/Nelson\ Engraved.otf");
}